.logo {
  border: none !important;
  box-shadow: none !important;
  height: 100px;
  width: auto;
}

.section-white {
  background-color: white;
  color: black;
}

.section-colored {
  color: white;
}

.white {
  color: white !important;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}

.red {
  color: red !important;
  font-size: 500px !important;
  -webkit-text-stroke: 4px black !important;
}
